*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-spacing{
  display: flex;
  justify-content: space-between;
  width: 302px;
  height: 1px;
  background-color: red;
}

.container{
  display:flex;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
}

.immagine{
  height: 40px;
  vertical-align: middle;
}

.list li{
  display: inline-block;
  list-style: none;
  padding: 0 5px;
  font-size: 12px;
  color: #b7bcc0;
}

.list li a{
  text-decoration: none;
  line-height: 40px;
  color: #b7bcc0;
}

li a:hover{
  color: #000;
}

ul li{
  list-style: none;
  margin-bottom: 5px;
}

li a{
  text-decoration: none;
  padding: 0 5px;
  font-size: 12px;
  color: #b7bcc0;
}

.check-menu{
  display: flex;
  flex-direction: column;
}

.off{
  display: none;
}

.relative{
  position: relative;
  height: 300px;
}

#tariffazione-menu{
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translate(-50%,-50%);
}

#conti-menu{
  position: absolute;
  top: 20%;
  left: 74%;
  transform: translate(-50%,-50%);
}

#prodotti-menu{
  position: absolute;
  top: 20%;
  left: 79%;
  transform: translate(-50%,-50%);
}

#azienda-menu{
  position: absolute;
  top: 20%;
  left: 86%;
  transform: translate(-50%,-50%);
}

#aiuto-menu{
  position: absolute;
  top: 20%;
  left: 93%;
  transform: translate(-50%,-50%);
}

.bottone{
  background-color: #eb008d;
  border-radius: 90px;
  padding: 5px;
  font-size: 11px;
  color: #fff;
}

.box{
  border: 1px solid #f5f5f5;
  padding: 5px;
  white-space: nowrap;
}
